<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3 mt-5">
        <div class="row">
            <h3 class="text-center"> Register  </h3>
            <hr />
            <div class="card-body">
                <form [formGroup]="registerForm"(ngSubmit)="submitForm()">

                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" class="form-control" id="sId" formControlName="firstname"
                            name="sid">
                         
                            
                    </div>

                    <div class="form-group">
                        <label> Last Name</label>
                        <input type="text" class="form-control" id="sName" formControlName="lastname"
                            name="sName">
                            
                            <!-- <span style="color: red;" *ngIf="sName&& sName.invalid && sName.touched">this Name is not valid </span> -->
                    </div>
                    <br>
                    
                    <div class="form-group">
                        <label>  Email</label>
                        <input type="text" class="form-control" id="sEmail" formControlName="email"
                            name="sEmail">
                            <!-- <span style="color: red;" *ngIf=" sEmail&& sEmail.invalid && sEmail.touched">this Email is not valid </span> -->

                    </div>

                    <div class="form-group">
                        <label> Password</label>
                        <input type="password" class="form-control" id="sPhone" formControlName="password"
                            name="sPhone">
                            <!-- <span style="color: red;" *ngIf=" sPhone&& sPhone.invalid && sPhone.touched">this Phone is not valid </span> -->

                   

                    <br />
                    <button class="btn btn-success" [disabled]="registerForm.invalid" type="submit">Register</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>